script(type="text/javascript", src="/js/user.js")
link(rel='stylesheet', href='/css/user.css')

div#fbid.gone= user.fbid
div
    image.left#fbimage(src="https://graph.facebook.com/" + user.fbid + "/picture?type=large")
    div.left#user-name= user.first_name + " " + user.last_name

div.clear.spacing

div.gone
    input#join-group-input(type="text")
    button#join-group-button(type="submit") Join Group
    
    
div.spacing

div#groups
    div Groups:
        button.right#show-group-popup(type="submit") Add A New Group

    div#group-list
        - each group in groups
            a.group(href="/group/" + group._id)
                div= group.name
                
div.clear

div#new-popup.popup.gone
    div.header Add New Group

    div.field
        label Group Name
        div.clear
        input#add-group-name(type="text")
    div.field
        label Group Description
        div.clear
        textarea#add-group-info(type="text")
    div.clear
    div.buttons
        button#add-group-button(type="submit") Add Group
        button.close-popup(type="submit") Cancel