script(type="text/javascript", src="/js/user.js")

h1= title


div#fbid.gone= user.fbid
div
    image#fbimage(src="https://graph.facebook.com/" + user.fbid + "/picture")


div= user.fbname

div.spacing

div
    input#join-group-input(type="text")
    button#join-group-button(type="submit") Join Group
    
    
div.spacing
div Groups:
div
    - each group in groups
        div
            a(href="/group/" + group._id)= group.name
