script(type="text/javascript", src="/js/user.js")
link(rel='stylesheet', href='/css/user.css')

div#fbid.gone= user.fbid
div
    image.left#fbimage(src="https://graph.facebook.com/" + user.fbid + "/picture?type=large")
    div.left#user-name= user.first_name + " " + user.last_name

div.clear.spacing   
    
div#groups.gone
    div My Groups:

    div#group-list
        - if (groups)
            - each group in groups
                a.group.list-item(href="/group/" + group._id)
                    div= group.name
                
                

button#show-event-popup(type="submit") Add A New Event
div#events.clear
    div My Events:

    div#event-list
        - each ev in events
            a.event.list-item(href="/event/" + ev._id)
                div= ev.name
                
button.right.gone#show-group-popup(type="submit") Add A New Group
div#group-search.gone
    input#group-search-input(type="text", placeholder="Search for a group")
    div#group-search-list

div.clear

div#add-group-popup.new-popup.popup.gone
    div.header Add New Group

    div.field
        label Group Name
        div.clear
        input#add-group-name(type="text")
    div.field
        label Group Description
        div.clear
        textarea#add-group-info(type="text")
    div.clear
    div.buttons
        button#add-group-button(type="submit") Add Group
        button.close-popup(type="submit") Cancel
        
        
        
div#add-event-popup.new-popup.popup.gone
    div.header Add New Event

    div.field
        label Event Name
        div.clear
        input#add-event-name(type="text")
    div.field
        label Event Info
        div.clear
        textarea#add-event-info(type="text")
    div.clear
    div.buttons
        button#add-event-button(type="submit") Add Event
        button.close-popup(type="submit") Cancel