script(type="text/javascript", src="/js/user.js")
link(rel='stylesheet', href='/css/user.css')

div#fbid.gone= user.fbid
div
    image.left#fbimage(src="https://graph.facebook.com/" + user.fbid + "/picture?type=large")
    div.left#user-name= user.first_name + " " + user.last_name

div.clear.spacing

div
    input#join-group-input(type="text")
    button#join-group-button(type="submit") Join Group
    
    
div.spacing
div Groups:
div#group-list
    - each group in groups
        div
            a(href="/group/" + group._id)= group.name
