script(type="text/javascript", src="/js/user.js")

h1= title


div#fbid.gone= user.fbid
div
    image#fbimage(src="https://graph.facebook.com/" + user.fbid + "/picture")

div#name
    name

div= user.fbname
