.event-title {
    margin-bottom:20px;
    margin-left:8px;
    color:#333;
}

.event-name {
    font-size:28px;
    font-weight:bold;
}

.event-info {
    color:#444;
    font-size:12px;
}

#add-ride-button {
    margin-left:8px;
}

.ride-listing {
    padding:10px;
    margin:8px;
    float:left;
    width:200px;
    height:200px;
    border:2px solid #ccc;
    border-radius:5px;
    overflow-y: auto;
}

.driver {
    border-bottom:1px solid #ddd;
    height:35px;
    margin-bottom:5px;
}

.driver-image {
    width:30px;
    height:30px;
    float:left;
}

.driver-name {
    font-size:18px;
    margin-left:10px;
    margin-top:5px;
    float:left;
}

.rider {
    border-bottom:1px solid #ddd;
    height:25px;
    margin-bottom:5px;
}

.rider-image {
    width:20px;
    height:20px;
    float:left;
}

.rider-name {
    font-size:14px;
    margin-left:10px;
    margin-top:3px;
    float:left;
}

.join-ride-button {
    width:100%;
    margin-bottom:5px;
}