.event-title {
    margin-bottom:20px;
    margin-left:8px;
    color:#333;
}

.event-name {
    font-size:28px;
    font-weight:bold;
}

.event-info {
    color:#444;
    font-size:12px;
}

#show-add-ride {
    margin-left:8px;
}

.ride-listing {
    padding:10px;
    margin:8px;
    width:900px;
    height:200px;
    border:2px solid #ccc;
    border-radius:5px;
    overflow-y: auto;
}

.driver {
    border-bottom:1px solid #888;
    height:35px;
    margin-bottom:5px;
}

.driver-info {
    float:left;
    width:550px;
    height:30px;
    overflow:hidden;
}

.driver-image {
    width:30px;
    height:30px;
    float:left;
}

.driver-name {
    font-size: 16px;
    margin-left: 10px;
    float: left;
}

.ride-notes {
    font-size:10px;
    margin-left:10px;
    color:#888;
}

.rider {
    border-bottom:1px solid #ddd;
    height:25px;
    margin-bottom:5px;
}

.rider-image {
    width:20px;
    height:20px;
    float:left;
}

.rider-name {
    font-size:14px;
    margin-left:10px;
    margin-top:3px;
    float:left;
}

.join-ride-button {
    width: 80px;

}

.join-ride-buttons {
    margin-top: 3px;
    float: right;
    margin-left: 20px;
}

.riders-list {
    float:left;
    width:420px;
    margin-right:15px;
}

.hopin {
    float:left;
    font-size:20px;
    font-weight:bold;
    color:#333;
    margin-top:-1px;
    margin-right:10px;
}

#way-there, #way-back, #leaving, #returning {
    width: 150px !important;
    margin-right: 20px;
}