body {
    font-size:14px;
    font-family:'Helvetica Neue';
}

.gone {
    display:none;
}

.spacing {
    height:10px;
}

.clear {
    clear:both;
}

.left {
    float:left;
}

.right {
    float:right;
}

#content {
    width: 960px;
    clear: both;
    height: 100%;
    margin: 0 auto;
    z-index: 20;
    background: white;
    border-radius: 4px;
    margin-top: 55px;
}

#header {
    position: fixed;
    height: 45px;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 1000;
    margin-top:-55px;
}

#header a {
    text-decoration:none;
}

a div.logo {
    font-size:36px;
    font-weight:bold;
    float:left;
    margin-left: 10px;
    font-family:'Helvetica Neue';
}
.logo-ride {
    color:#555;
}
.logo-plannr {
    color:#6299c5;
}

#logout-button {
    margin-top:15px;
}

button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:'Helvetica Neue';
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
button:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.popup {
    z-index:200;
    position:fixed;
    width:410px;
    min-height:260px;
    top:100px;
    left:50%;
    margin-left:-205px;
    border:5px solid #aaa;
    background:white;
    border-radius:4px;
    padding:10px;
}

.popup .header {
    font-weight:bold;
    font-size:18px;
    padding:4px 10px 4px 10px;
    background-color:#6299c5;
    color:#fff;
    width:100%;
    margin: -10px 0px 0px -10px !important;
}

.popup .buttons {
    margin-top:15px;
    float:right !important;
}


.new-popup div {
}

.new-popup input {
    font-size:18px;
    padding:2px;
    margin-top:5px;
    width:400px;
}

.new-popup button {
    float:left;
}

.new-popup div.field {
    margin-top:10px;
}

.new-popup textarea {
    width: 400px;
    height: 100px;
    font-size:12px;
    padding:2px;
    color:#333;
    margin-top:10px;
}


a.list-item {
    text-decoration:none;
}
a.list-item div {
    padding:10px;
    width:300px;
    border-bottom: 1px solid #ccc;
    color:#333;
    font-size:20px;
}
a.list-item div:hover {
    text-decoration:underline;
    background:#eee;
}